<div class="row fixed">
  <div class="row">
    <div class="col-xs-12">
      <h1>{{ project?.name }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="btn-group"
        appDropdown>
        <button
          type="button"
          class="btn btn-primary dropdown-toggle">
          Manage Project <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a (click)="onEditProject()">Edit Project</a></li>
          <li><a (click)="onDeleteProject()">Delete Project</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p>{{ project?.description }}</p>
      <p>Created at: {{ project?.createdAt | localizedDate }}</p>
      <p>Deadline: {{ project?.deadline | localizedDate }}</p>
      <p>Author: <a href="#">{{ project?.author.firstName }} {{ project?.author.lastName }}</a></p>
      <p>Team: <a href="#">{{ project?.team.name }}</a></p>
      <p *ngIf="project?.tasks.length !== 0">Tasks:</p>
      <p class="tasks" *ngFor="let task of project?.tasks">
          <svg height="16" width="16">
            <circle cx="8" cy="8" r="6" [appTaskStatusColor]=task.state />
          </svg>
          {{task.state | taskStatusString}}:
        <a href="#">{{ task.name }}</a></p>
    </div>
  </div>
  