input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}

.fixed {
    position: fixed;
    width: 50vw;
}

.error {
  color: red;
  font-size: .75em;
}

.btn {
  margin: 5px;
}

.buttons {
  align-items: center;
  justify-content: center;
  display: flex;
}
