<div class="row">
    <div class="row">
      <div class="col-xs-12">
        <h1>{{ task.name }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="btn-group"
            appDropdown>
          <button
            type="button"
            class="btn btn-primary dropdown-toggle">
            Manage Task <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">Edit Task</a></li>
            <li><a href="#">Delete Task</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p>{{ task.description }}</p>
        <p>Created at: {{ task.createdAt }}</p>
        <p>Finished at: {{ task.finishedAt }}</p>
        <p>Performer: {{ task.performer.firstName }} {{ task.performer.lastName }}</p>
        <p>Project: {{ task.projectId }}</p>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-xs-12">
        Ingredients
      </div>
    </div> -->
    